<div class="row">
    <div class="large-12 columns">
    	<hr />
		<footer>
			&copy; Sachin and Stevo, Inc. | <a href="/">Back Home</a>
      <p>For complaints contact: <a href="mailto:effoff@wegohardinthepaint.com">
      effoff@wegohardinthepaint.com</a>.</p>
		</footer>
	</div>
</div>