<div class="row">
  <div style="text-align: center;" id="webheader" class="large-12 columns">
    <h1 style="text-align: center;">Rock Paper Scissors</h1>
    
    <h3>Chunk up the deuce edition!</h3>
  </div>
</div>