<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>Welcome to the classic game of Rock, Paper, Scissors!</h3>
        <p></p>
        <p>Sign in if you are already a member.</p>
        <p>Sign up if you are not!</p>
        <form>
        <div class="row">
          <div class="large-6 columns">
            <label>Username</label>
            <input type="text" placeholder="Enter your username!" />
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <label>Password</label>
            <input type="text" placeholder="Enter your password!" />
          </div>
        </div>
        <a href="#" class="small button">Login!</a>
        <a href="signup" class="small button">Sign up!</a>
      </form>       
    </div>
    </div>
</div>
