<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>Sign up to play Rock, Paper, Scissors!</h3>
      <p></p>
      <p>It's Free!</p>
        <form>
          <div class="row">
            <div class="large-6 columns">
              <label>Create a username</label>
              <input type="text" placeholder="Enter a username of your choice!" />
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns">
              <label>Create a password</label>
              <input type="text" placeholder="Enter a password!" />
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns">
              <label>Retype your password</label>
              <input type="text" placeholder="Retype your password!" />
            </div>
          </div>
          <a href="game" class="small button">Sign up!</a>
        </form>       
      </div>
    </div>
  </div>
</div>
